<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/combine/npm/vue@2/dist/vue.min.js,npm/iview@3/dist/iview.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/iview/dist/styles/iview.css">
    <link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">
    <dropdown trigger="click" v-on:on-click="addOperator">
        <i-button type="primary">
            添加运算符
            <icon type="ios-arrow-down"></icon>
        </i-button>
        <dropdown-menu slot="list">
            <dropdown-item name="addition">加法</dropdown-item>
            <dropdown-item name="subtraction">减法</dropdown-item>
            <dropdown-item name="multiplication">乘法</dropdown-item>
            <dropdown-item name="division">除法</dropdown-item>
        </dropdown-menu>
    </dropdown>
    <divider></divider>
    <collapse>
        <panel v-for="(op, index) in generator.operators" :key="op.id">
            <span>{{ op.operatorName }}</span>
            <div slot="content" class="editor">
                <collapse simple>
                    <panel>
                        <span v-if="!op.range.isAdv">随机取值</span>
                        <span v-else>高级随机取值</span>
                        <div slot="content">
                            <i-button type="warning" @click="op.toggleRangeType()">
                                <span v-if="op.range.isAdv">切换到普通随机取值 (会丢失高级选项)</span>
                                <span v-else>切换到高级随机取值</span>
                            </i-button>
                            <div>
                                <divider orientation="left">a {{ op.operatorSymbol }} b</divider>
                                <i-input v-model="op.range.minA" placeholder="数字/表达式" style="width: auto"></i-input>
                                <span> ≤ a ≤ </span>
                                <i-input v-model="op.range.maxA" placeholder="数字/表达式" style="width: auto"></i-input>
                                <br>
                                <i-input v-model="op.range.minB" placeholder="数字/表达式" style="width: auto"></i-input>
                                <span> ≤ b ≤ </span>
                                <i-input v-model="op.range.maxB" placeholder="数字/表达式" style="width: auto"></i-input>
                            </div>
                            优先计算:
                            <radio-group v-model="op.range.first" type="button">
                                <radio label="0">a</radio>
                                <radio label="1">b</radio>
                            </radio-group>
                            <div v-if="op.range.isAdv">
                                <divider orientation="left">高级选项</divider>
                                覆盖:
                                <radio-group v-model="op.range.target" type="button">
                                    <radio label="0">a</radio>
                                    <radio label="1">b</radio>
                                </radio-group><br>
                                {{ op.range.target === 0 ? 'a' : 'b' }} = <i-input v-model="op.range.expression" placeholder="表达式" style="width: auto"></i-input>
                            </div>
                        </div>
                    </panel>
                </collapse>
                <i-button type="primary" @click="op.addRule()" style="margin-top: 6px">添加规则</i-button>
                <i-button type="error" @click="generator.operators.removeIndex(index)" style="margin-top: 6px">删除运算符</i-button>
                <div v-for="(rule, index) in op.rules">
                    <i-input v-model="rule.condition" placeholder="布尔值表达式" style="width: 100%">
                        <i-button slot="append" @click="op.rules.removeIndex(index)" class="no-spacing"
                                  style="height: 32px" type="error" icon="md-close"></i-button>
                    </i-input>
                </div>
            </div>
        </panel>
    </collapse>
    <divider></divider>
    数量: <input-number :max="1000" :min="1" :step="1" :precision="1" :formatter="removeDecimal" v-model="generator.count"></input-number>
    <i-button @click="generate" type="primary" icon="md-shuffle">生成题目</i-button>
    <divider orientation="left">加载/保存</divider>
    <button-group>
        <i-button @click="save" icon="md-code">生成JSON</i-button>
        <i-button @click="showLoadModal" icon="md-exit">加载JSON</i-button>
    </button-group>
    <divider></divider>
    <collapse>
        <panel>
            数据
            <p slot="content" class="mono">{{ generator }}</p>
        </panel>
    </collapse>
    <divider orientation="left">生成记录</divider>
    <collapse>
        <panel v-for="(list, index) in hist" :key="index">
            <span>第{{ (index + 1).toString() + '次生成, 题目数量: ' + list.length.toString() }}个</span>
            <div slot="content">
                <i-button @click="print(index)" style="margin-bottom: 6px" icon="md-print">打印</i-button>
                <div class="split" :id="'history' + index">
                    <div class="column">
                        <span class="row" v-for="(el, index) in firstHalf(list)">{{ el.toString() }} =</span>
                    </div>
                    <div class="column">
                        <span class="row" v-for="(el, index) in lastHalf(list)">{{ el.toString() }} =</span>
                    </div>
                </div>
            </div>
        </panel>
    </collapse>
</div>

<script src="https://cdn.jsdelivr.net/combine/npm/typeson@5/dist/typeson.min.js,npm/typeson-registry@1.0.0-alpha.21/dist/all.min.js,npm/vue-clipboard2@0.2/dist/vue-clipboard.min.js"></script>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<script src="expr-eval.min.js"></script>
<script src="dist/operators.min.js"></script>
<script src="dist/generation.min.js"></script>
<script src="dist/mathgen.min.js"></script>
</body>
</html>